<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
        <key>title</key>
        <string>开发秘籍</string>
		<key>detail</key>
		<string>一本全方位介绍IPhone开发的书籍</string>
        <key>icon</key>
        <string>IMG_2524</string>
        <key>price</key>
        <string>35元</string>
	</dict>
    <dict>
        <key>title</key>
        <string>开发秘籍</string>
        <key>detail</key>
        <string>一本全方位介绍IPhone开发的书籍</string>
        <key>icon</key>
        <string>IMG_2524</string>
        <key>price</key>
        <string>35元</string>
    </dict>
    <dict>
        <key>title</key>
        <string>开发秘籍</string>
        <key>detail</key>
        <string>一本全方位介绍IPhone开发的书籍</string>
        <key>icon</key>
        <string>IMG_2524</string>
        <key>price</key>
        <string>35元</string>
    </dict>
    <dict>
        <key>title</key>
        <string>开发秘籍</string>
        <key>detail</key>
        <string>一本全方位介绍IPhone开发的书籍</string>
        <key>icon</key>
        <string>IMG_2524</string>
        <key>price</key>
        <string>35元</string>
    </dict>
    <dict>
        <key>title</key>
        <string>开发秘籍</string>
        <key>detail</key>
        <string>一本全方位介绍IPhone开发的书籍</string>
        <key>icon</key>
        <string>IMG_2524</string>
        <key>price</key>
        <string>35元</string>
    </dict>
    <dict>
        <key>title</key>
        <string>开发秘籍</string>
        <key>detail</key>
        <string>一本全方位介绍IPhone开发的书籍</string>
        <key>icon</key>
        <string>IMG_2524</string>
        <key>price</key>
        <string>35元</string>
    </dict>
    <dict>
        <key>title</key>
        <string>开发秘籍</string>
        <key>detail</key>
        <string>一本全方位介绍IPhone开发的书籍</string>
        <key>icon</key>
        <string>IMG_2524</string>
        <key>price</key>
        <string>35元</string>
    </dict>
    <dict>
        <key>title</key>
        <string>开发秘籍</string>
        <key>detail</key>
        <string>一本全方位介绍IPhone开发的书籍</string>
        <key>icon</key>
        <string>IMG_2524</string>
        <key>price</key>
        <string>35元</string>
    </dict>
</array>
</plist>
