<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ViewName</key>
		<string>Label控件的学习</string>
		<key>ViewCode</key>
		<string>LabelViewController</string>
		<key>ViewImage</key>
		<string>IMG_2524</string>
		<key>ViewDesc</key>
		<string>Hello,World!</string>
	</dict>
	<dict>
		<key>ViewName</key>
		<string>UIView控件的学习</string>
		<key>ViewCode</key>
		<string>MyUIViewController</string>
		<key>ViewImage</key>
		<string>IMG_2524</string>
		<key>ViewDesc</key>
		<string>视图布局的学习</string>
	</dict>
	<dict>
		<key>ViewName</key>
		<string>View控件的背景学习</string>
		<key>ViewCode</key>
		<string>ViewBackgroundViewController</string>
		<key>ViewImage</key>
		<string>IMG_2524</string>
		<key>ViewDesc</key>
		<string>视图布局的学习2</string>
	</dict>
	<dict>
		<key>ViewName</key>
		<string>字体大小自适应</string>
		<key>ViewCode</key>
		<string>FontSizeViewController</string>
		<key>ViewImage</key>
		<string>IMG_2524</string>
		<key>ViewDesc</key>
		<string>展现字体大小如何自动适应</string>
	</dict>
	<dict>
		<key>ViewName</key>
		<string>按钮背景图片</string>
		<key>ViewCode</key>
		<string>BtnBackgroudViewController</string>
		<key>ViewImage</key>
		<string>IMG_2524</string>
		<key>ViewDesc</key>
		<string>设置不同展现的按钮背景图片</string>
	</dict>
	<dict>
		<key>ViewName</key>
		<string>蓝牙的使用Demo</string>
		<key>ViewCode</key>
		<string>BluetoothViewController</string>
		<key>ViewImage</key>
		<string>IMG_2524</string>
		<key>ViewDesc</key>
		<string>蓝牙的简单使用</string>
	</dict>
	<dict>
		<key>ViewName</key>
		<string>小游戏点圈</string>
		<key>ViewCode</key>
		<string>CircleViewController</string>
		<key>ViewImage</key>
		<string>IMG_2524</string>
		<key>ViewDesc</key>
		<string>学习小游戏的开发</string>
	</dict>
	<dict>
		<key>ViewName</key>
		<string>多点通讯</string>
		<key>ViewCode</key>
		<string>MultipeerConnectivityViewController</string>
		<key>ViewImage</key>
		<string>IMG_2524</string>
		<key>ViewDesc</key>
		<string>多点通讯的demo</string>
	</dict>
	<dict>
		<key>ViewName</key>
		<string>多点通讯</string>
		<key>ViewCode</key>
		<string>JsonHelpViewController</string>
		<key>ViewImage</key>
		<string>IMG_2524</string>
		<key>ViewDesc</key>
		<string>Json数据解析</string>
	</dict>
    <dict>
        <key>ViewName</key>
        <string>浏览器控件</string>
        <key>ViewCode</key>
        <string>UIWebViewController</string>
        <key>ViewImage</key>
        <string>IMG_2524</string>
        <key>ViewDesc</key>
        <string>浏览器控件</string>
    </dict>
</array>
</plist>
